.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Grid {
  font-weight: bold;
}

.Cell {
  border: 0.5px solid white;
  cursor: pointer;
}

.Cell-Selected {
  font-size: 1.75em;;
}
